/*---------------------------------------Navigation Bar----------------------------------------------------------------- */
.logo {
    display: flex;
    background: url(Images/Home/logoB.jpg);
    margin-bottom: 0;
    justify-content: center;
}
.logo img{
    height: 100px;
}
.navM {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: #003462;
    font-family: lato,sans-serif;
}
.navM li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navM a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}
.navM a:hover {
    color: plum;
}
/*------------------------------------------------Navigation bar mobile layout------------------------------------------*/
@media only screen and (max-width: 1000px){
    .navM {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        background: #003462;
        font-family: lato,sans-serif;
        width: 100%;
    }   
    .navM li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }  
}

/*-------------------------------------------------------------Heritage 1------------------------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section, footer, header{
    display: block;
}
.footer{
    background-color: #003462;
    padding: 10px;
    margin-top: 100px;
}
img{
   width: 100%;
   max-height: 560px;
}
#para {
    color: black;
    font-family: lato,sans-serif;
    overflow-wrap: break-word;
    font-size: 17px;
}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);   
}
.container-home{
    position:relative;
    text-align:center;
    color:white;
    font-size:60px;
    font-weight:bold;
}
#copy {
    text-align: right;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}
.Sigiriya-main {
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    background: rgba(236, 238, 238, 0.8);
    box-shadow:  0 0 20px rgb(19 19 19);
}
.sigiriya-body{
    background: url(Images/Sigiriya/back.jpg) no-repeat center center fixed;
    background-size: cover;
}
.sigiriya-intro-h1 {
    color: #003462;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: playfair display,georgia,times new roman,serif;
    text-align: center
}
.history-h1{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sigiriya-h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sig-art-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.sig-water-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.stair-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/*-------------------------------------------Mobile Layout-------------------------------------------------------------*/
@media only screen and (max-width: 1000px){
    .stair-grid {
        display: grid;
        grid-template-columns: auto;
    }
    .centered{
        font-size: 15px;
    }
    .sig-water-img {
        display: grid;
        grid-template-columns: auto;
    }
    .sig-art-img {
        display: grid;
        grid-template-columns: 1fr;
    }   
}