*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section, footer, header{
    display: block;
}
.footer{
    background-color: gray;
    padding: 10px;
    margin-top: 100px;
}

img{
   width: 100%;
   max-height: 560px;
}
#para {
    color: #404040;
    font-family: lato,sans-serif;
    overflow-wrap: break-word;
    font-size: 21px;
}
#copy {
    text-align: right;
}
/*Navigation Bar*/
.logo {
    display: flex;
    color: #003462;
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 700;
    font-family:link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
    link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet";
    
    background:  rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    justify-content: center;
}
.logo a{
    text-decoration: none;
}
.navM {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    /*box-shadow: 0 1px 8px #ddd;*/
    background: rgba(255, 255, 255, 0.9);
    font-family: lato,sans-serif;
}
.navM li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.navM a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}
.navM a:hover {
    color: plum;
}
@media only screen and (max-width: 1000px){
    .navM {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        background: rgba(255, 255, 255, 0.9);
        font-family: lato,sans-serif;
        width: 100%;  
    }   
    .navM li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    } 
/*Heritage 2*/
.Anu-intro, .Anu-Access, .Anu-see {
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    background: rgba(236, 238, 238, 0.8);
    box-shadow:  0 0 10px rgb(19 19 19);   
} 
.anu-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#anu-1, #anu-2, #anu-3{
  flex:30%;
  border: 3px solid #003462;
  margin-left: 5px;
  margin-top: 5px;
}
#anu-5, #anu-4{
    flex:40%;
    border:3px solid #003462;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#anu-1:hover{
    box-shadow: 0 0 20px 0px rgb(14, 3, 39);
}
#anu-2:hover{
    box-shadow: 0 0 20px 0px rgb(14, 3, 39);
}
#anu-3:hover{
    box-shadow: 0 0 20px 0px rgb(14, 3, 39);
}
#anu-4:hover{
    box-shadow: 0 0 20px 0px rgb(14, 3, 39);
}
#anu-5:hover{
    box-shadow: 0 0 20px 0px rgb(14, 3, 39);
}

.anu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.anu-main-h1 {
    color: #003462;
    font-size: 60px;
    text-align: center;
}

.anu-gal-h1 {
    text-align: center;
    background-color: #003462;
    color: white;
}

@media only screen and (max-width: 1000px){
    .anu-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    .anu-grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
    .anu-main-h1 {
        color: #003462;
        font-size: 60px;
        text-align: center;
        width: 100%;
    }
}